<%- include('../partials/header')%>


<div class="all-cards">
  <% courses.forEach(function(m) {%>
    <div class="card text-center" style="width: 28rem">
      <div class="class-body">
        <h5 class="card-body"><%= m.name %>⛳️</h5>
        <p class="card-text"><%= m.location %></p>
        <a href="/courses/<%= m._id %>" class="btn btn-outline-dark">Reviews & Ratings</a>
      </div>
    </div>
  <% }); %>
</div>



<%- include('../partials/footer')%>