<%- include('../partials/header')%>



<% courses.forEach(function(m) {%>
  <div class="card text-center" style="width: 25rem">
    <div class="class-body">
      <h5 class="card-body"><%= m.name %></h5>
      <p class="card-text"><%= m.location %></p>
      <p>$<%= m.price%></p>
      <a href="/courses/<%= m._id %>" class="btn btn-outline-dark">Reviews & Ratings</a>
    </div>
  </div>
<% }); %>


<%- include('../partials/footer')%>