<%- include('../partials/header')%>


<table>
    <thead>
      <tr>
        <th>Course Name</th>
        <th>Location</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      <% courses.forEach(function(m) {%>
        <tr>
          <td><%= m.name %></td>
          <td><%= m.location %></td>
          <td><%= m.price%></td>
          <td><a href="/courses/<%= m._id %>">Reviews & Ratings</a></td>
        </tr>
      <% }); %>
    </tbody>
</table>

<%- include('../partials/footer')%>