<%- include('../partials/header')%>

<div class="container">
  <section id="show-page">
    <div>
      <h1>Course Information</h1>
      <h3><%= course.name %> ⛳️</h3>
      <h3><%= course.location %></h3>
      <% if (user?._id.equals(course.user)) { %>
        <div class="user-buttons">
          
          <button class="btn btn-outline-warning" id="user-edit">
            <a href="/courses/<%= course._id %>/edit" style="text-decoration:none">EDIT</a>
          </button>
          
          <form action="/courses/<%= course._id %>?_method=DELETE" method="POST">
            <button class="btn btn-outline-danger" id="delete-btn" type="submit">DELETE</button>
          </form>
      
        </div>
      <% } %>
    </div>
    
    <div>
      <iframe
        width="600"
        height="450"
        style="border:0"
        loading="lazy"
        allowfullscreen
        referrerpolicy="no-referrer-when-downgrade"
        src="https://www.google.com/maps/embed/v1/place?key=<%= apiKey %>&q=<%= course.location %>">
      </iframe>
    </div>
  </section> 


</div>

<br>
<br>

<div class="container">
  <% if (user) { %>
    <h3>Write a Review!</h3>
    <form id="add-review-form" method="POST"
      action="/courses/<%= course._id %>/reviews">
      <label>Review:</label>
      <textarea class="form-control" type="text" name="content"></textarea>
      <br>
      <label>Check-in Easability:</label>
      <select class="form-select" name="checkInEase">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5" selected>5</option>
      </select>
      <br>
      <label>Fairway & Green Condition:</label>
      <select class="form-select" name="fairwayCondition">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5" selected>5</option>
      </select>
      <br>
      <label>Utility and Food:</label>
      <select class="form-select" name="foodUtil">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5" selected>5</option>
      </select>
      <br>
      <label>Overall Rating:</label>
      <select class="form-select" name="rating">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5" selected>5</option>
      </select>
      <input class="btn btn-outline-dark" type="submit" value="Add Review">
    </form>
  <% } %>

  <% if (course.reviews.length) { %>
    <h3>All Reviews</h3>
    <div class="all-review-cards">
    <% course.reviews.forEach(function(r) { %>
      <div class="card" style="width: 20rem;">
        <img alt="avatar" src="<%= r.userAvatar %>" referrerpolicy="no-referrer" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title"><%= r.userName %></h5>
          <h6 class="card-subtitle mb-2 text-muted"><%= r.createdAt.toLocaleDateString() %></h6>
          <p class="card-text"><%= r.content %></p>
          <p>Check-in Easability: <%= r.checkInEase %> / 5</p>
          <p>Fairway & Green Condition: <%= r.fairwayCondition %> / 5</p>
          <p>Utility and Food: <%= r.foodUtil %> / 5</p>
          <p>Overall Rating: <%= r.rating %> / 5
            <% if (user?._id.equals(r.user)) { %>
              <form action="/reviews/<%= r._id %>?_method=DELETE" method="POST">
                <button class="btn btn-outline-danger" id="comment-delete-btn" type="submit">X</button>
              </form>
            <% } %>
          </p>
        </div>
      </div> 
    <% }); %>
    </div> 

  <% } else { %>
    <h5>No Reviews Yet</h5>
  <% } %>
</div>

<%- include('../partials/footer')%>